<div class="row">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control"  formControlName="title"/>
        <div *ngIf="showErrors('title')" class="alert alert-info">{{showErrors('title', 6)}}</div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div class="alert alert-info" *ngIf="showErrors('description')">{{showErrors('description', 10)}}</div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
      </div>
    </form>
  </div>
</div>










<!-- <div class="row">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control"  formControlName="title"/>
        <div class="alert alert-info" *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
          <div *ngIf="postForm.get('title')?.errors?.['required'] && !postForm.get('title')?.valid">
            Title is required
          </div>
          <div *ngIf="postForm.get('title')?.errors?.['minlength']">
            Title Should be at least 6 Chars
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div class="alert alert-info" *ngIf="showDescriptionErrors()">{{showDescriptionErrors()}}</div>
        <div class="alert alert-info" *ngIf="showErrors('description')">{{showErrors('description', 10)}}</div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
      </div>
    </form>
  </div>
</div> -->

