<div class="row my-4">
  <div class="col-md-8">
    <h3>Posts List</h3>
    <div>
      <a [routerLink]="['/posts/add']" class="btn btn-primary">Add Post</a>
    </div>
    <table class="table table-striped" *ngIf="(posts$ | async) as postData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postData; let i = index">
          <td>{{i + 1}}</td>
          <td style="word-break: break-all;">{{post.title}}</td>
          <td style="word-break: break-all;">{{post.description}}</td>
          <td>
            <a class="btn btn-primary me-2" [routerLink]="['edit', post.id]">Update</a>
            <a class="btn btn-secondary me-2" [routerLink]="['details', post.id]">Details</a>
            <button class="btn btn-danger" (click)="onDeletePost(post.id)">Delete Post</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
